# Pre Analysis of Climate Sensor Data

##### Imports

In [2]:
# Imports
# Standard
import pandas as pd
import numpy as np
import os

# Plots
import matplotlib.pyplot as plt
import matplotlib.lines as mlines
import seaborn as sns
sns.set_theme()
sns.set_palette(sns.color_palette("colorblind"))
sns.set(rc={'figure.facecolor':'white'})

#Plotly

##### Load Data

In [3]:
df_climate = pd.read_csv("../../data/raw/Microclimate_Sensor_Readings.csv")
df_sensors = pd.read_csv("../../data/raw/Microclimate_Sensor_Locations.csv")

In [4]:
df_climate.head(5)

,id,site_id,gateway_hub_id,sensor_id,value,local_time,type,units
0,1,1001,arc1045,0a.EPA-1h,3.9,2019/11/15 09:00:00 AM,PM2.5-EPA-1h,ug/m^3
1,2,1001,arc1045,0a.EPA-1h.NOPK,3.9,2019/11/15 09:00:00 AM,PM2.5-EPA-1h-NOPK,ug/m^3
2,3,1001,arc1045,0a.EPA-1h.NOPK.EPA-24h,5.5,2019/11/15 09:00:00 AM,PM2.5-EPA-1h-NOPK-EPA-24h,ug/m^3
3,4,1001,arc1045,0a.EPA-1h.PKIND,1.0,2019/11/15 09:00:00 AM,PM2.5-EPA-1h-PKIND,0/1
4,5,1001,arc1045,0a.EPA-24h,5.5,2019/11/15 09:00:00 AM,PM2.5-EPA-24h,ug/m^3

In [5]:
df_sensors.head(5)

,site_id,gateway_hub_id,description,last_data,site_status,start_reading,end_reading,longitude,latitude,location
0,1012,arc1048,Little Collins Street between Exhibition Stree...,2022/04/05 05:00:01 PM,C,2021/09/17,NaN,144.970000,-37.813333,POINT (144.97 -37.813333)
1,1003,arc1047,Pelham Street between Bouverie Street and Leic...,NaN,R,2019/11/15,2021/06/13,144.960923,-37.802300,POINT (144.960923 -37.8023)
2,1010,arc1112,"Melbourne Convention Centre Carpark, approxima...",2022/04/05 05:00:01 PM,C,2021/06/29,NaN,144.952222,-37.822500,POINT (144.95222195 -37.82250002)
3,1008,arc1045,Flinders Street between Swanston Street and El...,NaN,R,2021/06/14,2021/06/20,144.967057,-37.817465,POINT (144.96705703 -37.81746522)
4,1013,arc1047,William Street between Little Lonsdale Street ...,2022/04/05 05:00:01 PM,C,2021/09/17,NaN,144.956389,-37.811944,POINT (144.956389 -37.811944)

##### Join datasets

In [6]:
df_climate = df_climate.set_index(['site_id','gateway_hub_id'])
df_sensors = df_sensors.set_index(['site_id','gateway_hub_id'])
df_sensors.columns = [x+'_sensor' for x in df_sensors.columns]
df = df_climate.join(df_sensors,how='inner',rsuffix='_sensor').reset_index()
df.head(5)

,site_id,gateway_hub_id,id,sensor_id,value,local_time,type,units,description_sensor,last_data_sensor,site_status_sensor,start_reading_sensor,end_reading_sensor,longitude_sensor,latitude_sensor,location_sensor
0,1001,arc1045,1,0a.EPA-1h,3.9,2019/11/15 09:00:00 AM,PM2.5-EPA-1h,ug/m^3,Grattan Street between Lygon Street and Cardig...,NaN,R,2019/11/15,2021/06/13,144.966492,-37.800793,POINT (144.966492 -37.800793)
1,1001,arc1045,2,0a.EPA-1h.NOPK,3.9,2019/11/15 09:00:00 AM,PM2.5-EPA-1h-NOPK,ug/m^3,Grattan Street between Lygon Street and Cardig...,NaN,R,2019/11/15,2021/06/13,144.966492,-37.800793,POINT (144.966492 -37.800793)
2,1001,arc1045,3,0a.EPA-1h.NOPK.EPA-24h,5.5,2019/11/15 09:00:00 AM,PM2.5-EPA-1h-NOPK-EPA-24h,ug/m^3,Grattan Street between Lygon Street and Cardig...,NaN,R,2019/11/15,2021/06/13,144.966492,-37.800793,POINT (144.966492 -37.800793)
3,1001,arc1045,4,0a.EPA-1h.PKIND,1.0,2019/11/15 09:00:00 AM,PM2.5-EPA-1h-PKIND,0/1,Grattan Street between Lygon Street and Cardig...,NaN,R,2019/11/15,2021/06/13,144.966492,-37.800793,POINT (144.966492 -37.800793)
4,1001,arc1045,5,0a.EPA-24h,5.5,2019/11/15 09:00:00 AM,PM2.5-EPA-24h,ug/m^3,Grattan Street between Lygon Street and Cardig...,NaN,R,2019/11/15,2021/06/13,144.966492,-37.800793,POINT (144.966492 -37.800793)

In [8]:
df.to_csv('../../data/preproccesed/Climate_Data_joined.csv')