In [1]:
import pandas as pd

In [2]:
data_ac = pd.read_csv("../../data/preproccesed/ac_energy_joined.csv")
data_ac

,Unnamed: 0,Entity,Year,Coal Consumption - TWh,Low-carbon energy (TWh – sub method),Nuclear (TWh – sub method),Primary energy consumption (TWh),Renewables (TWh – sub method),Solar (TWh – sub method),Oil Consumption - TWh,Gas Consumption - TWh,Fossil Fuels (TWh),Hydro (TWh – sub method),Wind (TWh – sub method)
0,0,Africa,1965,323.496138,38.627,0.0,699.000,38.627,0.0,327.333164,9.543754,660.374,38.627,0.0
1,1,Africa,1966,323.122193,43.083,0.0,735.008,43.083,0.0,358.132674,10.669916,691.925,43.083,0.0
2,2,Africa,1967,330.291585,44.974,0.0,741.093,44.974,0.0,355.281459,10.545670,696.119,44.974,0.0
3,3,Africa,1968,343.512911,52.607,0.0,781.661,52.607,0.0,374.852131,10.688970,729.055,52.607,0.0
4,4,Africa,1969,346.642922,61.391,0.0,800.499,61.391,0.0,379.973086,12.492000,739.109,61.391,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10615,10615,Zimbabwe,2015,NaN,NaN,NaN,54.651,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10616,10616,Zimbabwe,2016,NaN,NaN,NaN,46.666,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10617,10617,Zimbabwe,2017,NaN,NaN,NaN,45.936,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10618,10618,Zimbabwe,2018,NaN,NaN,NaN,47.502,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10619,10619,Zimbabwe,2019,NaN,NaN,NaN,49.427,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data_ac_no_prim = data_ac.drop(columns=['Primary energy consumption (TWh)','Fossil Fuels (TWh)',
                                        'Renewables (TWh – sub method)','Low-carbon energy (TWh – sub method)'])

In [4]:
data_ac_unpivot = data_ac_no_prim.melt(id_vars=['Entity','Year'],value_vars=list(data_ac_no_prim.columns)[3:])

In [5]:
idx = data_ac_unpivot.groupby(['Entity','Year'])['value'].transform(max) == data_ac_unpivot['value']

In [6]:
data_ac_biggest_type = data_ac_unpivot[idx]

In [7]:
data_ac_biggest_type['variable'].value_counts()

Oil Consumption - TWh         3476
Gas Consumption - TWh          716
Coal Consumption - TWh         657
Hydro (TWh – sub method)       160
Nuclear (TWh – sub method)      70
Name: variable, dtype: int64

In [8]:
data_ac_biggest_type

             Entity  Year                  variable        value
168    Asia Pacific  1965    Coal Consumption - TWh  2780.731447
169    Asia Pacific  1966    Coal Consumption - TWh  2931.512194
170    Asia Pacific  1967    Coal Consumption - TWh  2854.298672
184    Asia Pacific  1981    Coal Consumption - TWh  5975.036081
185    Asia Pacific  1982    Coal Consumption - TWh  6185.451722
...             ...   ...                       ...          ...
58174          USSR  1980  Hydro (TWh – sub method)   510.939000
58175          USSR  1981  Hydro (TWh – sub method)   518.734000
58176          USSR  1982  Hydro (TWh – sub method)   485.214000
58177          USSR  1983  Hydro (TWh – sub method)   501.006000
58178          USSR  1984  Hydro (TWh – sub method)   563.856000

[5079 rows x 4 columns]

In [9]:
data_ac[data_ac.Entity=='Denmark']

,Unnamed: 0,Entity,Year,Coal Consumption - TWh,Low-carbon energy (TWh – sub method),Nuclear (TWh – sub method),Primary energy consumption (TWh),Renewables (TWh – sub method),Solar (TWh – sub method),Oil Consumption - TWh,Gas Consumption - TWh,Fossil Fuels (TWh),Hydro (TWh – sub method),Wind (TWh – sub method)
1105,1105,Denmark,1965,43.008903,0.069,0.0,166.204,0.069,0.000,123.125446,0.000000,166.134,0.069,0.000
1106,1106,Denmark,1966,48.744819,0.072,0.0,189.055,0.072,0.000,140.237705,0.000000,188.983,0.072,0.000
1107,1107,Denmark,1967,41.733092,0.069,0.0,190.119,0.069,0.000,148.316462,0.000000,190.050,0.069,0.000
1108,1108,Denmark,1968,37.392776,0.058,0.0,198.663,0.058,0.000,161.211985,0.000000,198.605,0.058,0.000
1109,1109,Denmark,1969,34.154984,0.061,0.0,228.043,0.061,0.000,193.826559,0.000000,227.982,0.061,0.000
1110,1110,Denmark,1970,27.318870,0.067,0.0,242.985,0.067,0.000,215.599586,0.000000,242.919,0.067,0.000
1111,1111,Denmark,1971,16.718125,0.067,0.0,229.631,0.067,0.000,212.846062,0.000000,229.564,0.067,0.000
1112,1112,Denmark,1972,17.079818,0.067,0.0,242.338,0.067,0.000,225.191489,0.000000,242.272,0.067,0.000
1113,1113,Denmark,1973,26.177967,0.067,0.0,234.465,0.067,0.000,208.220628,0.000000,234.399,0.067,0.000
1114,1114,Denmark,1974,24.728869,0.067,0.0,213.310,0.067,0.000,188.514067,0.000000,213.243,0.067,0.000
1115,1115,Denmark,1975,23.857782,0.058,0.0,210.236,0.058,0.000,186.319598,0.000000,210.178,0.058,0.000
1116,1116,Denmark,1976,33.146663,0.053,0.0,231.440,0.053,0.000,198.240331,0.000000,231.387,0.053,0.000
1117,1117,Denmark,1977,38.130118,0.072,0.0,236.185,0.072,0.000,197.982268,0.000000,236.113,0.072,0.000
1118,1118,Denmark,1978,42.008723,0.083,0.0,239.613,0.083,0.000,197.521154,0.000000,239.530,0.075,0.008
1119,1119,Denmark,1979,50.097388,0.097,0.0,239.132,0.097,0.000,188.937746,0.000000,239.035,0.081,0.017
1120,1120,Denmark,1980,71.497751,0.124,0.0,232.953,0.124,0.000,161.331269,0.000000,232.829,0.095,0.029
1121,1121,Denmark,1981,57.144005,0.128,0.0,209.239,0.128,0.000,151.967345,0.000000,209.112,0.099,0.029
1122,1122,Denmark,1982,68.932173,0.136,0.0,199.986,0.136,0.000,130.917900,0.000000,199.850,0.084,0.051
1123,1123,Denmark,1983,65.830452,0.260,0.0,190.089,0.260,0.000,123.852655,0.145950,189.829,0.093,0.075
1124,1124,Denmark,1984,69.385743,0.268,0.0,193.268,0.268,0.000,122.436108,1.178025,193.000,0.084,0.092
1125,1125,Denmark,1985,84.569871,0.325,0.0,217.786,0.325,0.000,126.177413,6.713700,217.461,0.083,0.143
1126,1126,Denmark,1986,85.545628,0.570,0.0,222.595,0.570,0.000,124.511201,11.967900,222.025,0.079,0.349
1127,1127,Denmark,1987,83.970926,0.734,0.0,214.579,0.734,0.000,114.684993,15.189225,213.845,0.082,0.483
1128,1128,Denmark,1988,78.567628,1.124,0.0,212.215,1.124,0.000,113.998470,18.525225,211.091,0.091,0.810
1129,1129,Denmark,1989,64.569760,1.604,0.0,195.681,1.604,0.000,109.763113,19.744950,194.078,0.064,1.190
1130,1130,Denmark,1990,70.833678,2.356,0.0,201.760,2.356,0.000,107.521444,21.048075,199.403,0.078,1.695
1131,1131,Denmark,1991,96.074267,3.113,0.0,232.569,3.113,0.000,109.086825,24.295814,229.457,0.071,2.056
1132,1132,Denmark,1992,80.024867,4.067,0.0,217.752,4.067,0.000,108.113842,25.546211,213.685,0.077,2.543
1133,1133,Denmark,1993,83.944177,4.971,0.0,230.812,4.971,0.000,113.188881,28.707319,225.841,0.076,2.873
1134,1134,Denmark,1994,90.270897,4.842,0.0,247.609,4.842,0.000,120.418087,32.078044,242.767,0.091,3.158
1135,1135,Denmark,1995,75.460092,5.151,0.0,243.135,5.151,0.000,125.379667,37.144204,237.984,0.084,3.270
1136,1136,Denmark,1996,103.723318,5.774,0.0,289.321,5.774,0.000,136.068668,43.754944,283.547,0.054,3.408
1137,1137,Denmark,1997,77.108063,8.137,0.0,262.243,8.137,0.001,131.279336,45.718911,254.107,0.053,5.373
1138,1138,Denmark,1998,65.531561,10.905,0.0,252.734,10.905,0.001,126.999762,49.297982,241.829,0.076,7.833
1139,1139,Denmark,1999,55.052931,12.165,0.0,244.954,12.165,0.002,126.042540,51.693676,232.789,0.085,8.414
1140,1140,Denmark,2000,46.182730,15.478,0.0,235.215,15.478,0.003,122.534680,51.019351,219.737,0.084,11.781
1141,1141,Denmark,2001,48.815762,16.134,0.0,235.791,16.134,0.003,117.525878,53.314870,219.657,0.076,11.884
1142,1142,Denmark,2002,48.873912,18.615,0.0,235.041,18.615,0.004,113.733507,53.817955,216.426,0.087,13.372
1143,1143,Denmark,2003,66.682931,22.004,0.0,253.085,22.004,0.004,109.988314,54.409176,231.081,0.058,15.150
1144,1144,Denmark,2004,51.113850,25.777,0.0,239.085,25.777,0.005,108.043988,54.150293,213.308,0.072,17.821
1145,1145,Denmark,2005,43.126415,26.396,0.0,230.598,26.396,0.006,109.070951,52.005582,204.203,0.061,17.791
1146,1146,Denmark,2006,65.441736,24.601,0.0,254.184,24.601,0.006,111.113458,52.982908,229.538,0.063,16.326
1147,1147,Denmark,2007,54.108311,27.378,0.0,240.822,27.378,0.007,111.778723,47.489613,213.377,0.075,19.049
1148,1148,Denmark,2008,47.655034,26.653,0.0,231.680,26.653,0.007,109.585751,47.716099,204.957,0.068,18.288
1149,1149,Denmark,2009,46.883346,26.401,0.0,217.782,26.401,0.010,98.558983,45.827923,191.270,0.050,17.631
1150,1150,Denmark,2010,44.573666,32.410,0.0,228.662,32.410,0.016,99.516719,51.839785,195.930,0.054,20.362
1151,1151,Denmark,2011,37.660499,36.750,0.0,215.706,36.750,0.039,96.322792,43.473646,177.457,0.044,25.329
1152,1152,Denmark,2012,28.763184,38.217,0.0,199.434,38.217,0.268,89.375071,40.602892,158.741,0.045,26.453
1153,1153,Denmark,2013,37.634811,40.881,0.0,208.333,40.881,1.325,89.025214,38.297825,164.958,0.034,28.478
1154,1154,Denmark,2014,30.544029,45.785,0.0,201.261,45.785,1.516,89.443436,32.894382,152.882,0.038,33.284
1155,1155,Denmark,2015,20.100757,47.954,0.0,194.153,47.954,1.529,90.435439,33.092526,143.629,0.046,35.753
1156,1156,Denmark,2016,24.354531,46.419,0.0,195.859,46.419,1.870,88.843459,33.652533,146.851,0.048,32.143
1157,1157,Denmark,2017,18.219667,54.760,0.0,195.828,54.760,1.879,88.065539,32.162133,138.447,0.045,36.950
1158,1158,Denmark,2018,18.555911,51.970,0.0,193.687,51.970,2.369,89.360314,31.209858,139.126,0.037,34.552
1159,1159,Denmark,2019,10.576769,57.681,0.0,188.006,57.681,2.385,88.027227,28.977778,127.582,0.043,39.991
1160,1160,Denmark,2020,9.086309,56.322,0.0,163.998,56.322,2.914,72.845041,23.239622,105.171,0.041,40.346