In [17]:
import pandas as pd
import add_isocountry
from importlib import reload

In [21]:
reload(add_isocountry)
df = pd.read_csv("../../web/data/pcc_energy_joined.csv", index_col=0)
df = add_isocountry.add_isocountry_column(df, "Entity")

array(['Africa', 'Algeria', 'Argentina', 'Australia', 'Austria',
       'Azerbaijan', 'Bangladesh', 'Belarus', 'Belgium', 'Brazil',
       'Bulgaria', 'Canada', 'Chile', 'China', 'Colombia', 'Croatia',
       'Cyprus', 'Czechia', 'Denmark', 'Ecuador', 'Egypt', 'Estonia',
       'Europe', 'European Union (27)', 'Finland', 'France', 'Germany',
       'Greece', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan',
       'Kazakhstan', 'Kuwait', 'Latvia', 'Lithuania', 'Luxembourg',
       'Malaysia', 'Mexico', 'Morocco', 'Netherlands', 'New Zealand',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Saudi Arabia', 'Singapore', 'Slovakia', 'Slovenia',
       'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sweden',
       'Switzerland', 'Taiwan', 'Thailand', 'Trinidad and Tobago',
       'Turkey', 'Turkmenistan', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'World', 'Afghanistan', 'Albania', 'American Samoa',
       'Angola', 'Antigua and Barbuda', 'Armenia', 'Aruba', 'Bahamas',
       'Bahrain', 'Barbados', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'British Virgin Islands', 'Brunei', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Cuba',
       'Democratic Republic of Congo', 'Djibouti', 'Dominica',
       'Dominican Republic', 'El Salvador', 'Equatorial Guinea',
       'Eritrea', 'Eswatini', 'Ethiopia', 'Faeroe Islands',
       'Falkland Islands', 'Fiji', 'French Guiana', 'French Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Ghana', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Jamaica', 'Jordan', 'Kenya',
       'Kiribati', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Macao', 'Madagascar', 'Malawi', 'Maldives', 'Mali',
       'Malta', 'Martinique', 'Mauritania', 'Mauritius',
       'Micronesia (country)', 'Moldova', 'Mongolia', 'Montenegro',
       'Montserrat', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands Antilles', 'New Caledonia', 'Nicaragua', 'Niger',
       'Nigeria', 'Niue', 'North Korea', 'Northern Mariana Islands',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Puerto Rico', 'Reunion', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Solomon Islands', 'Somalia',
       'South Sudan', 'Sudan', 'Suriname', 'Syria', 'Tajikistan',
       'Tanzania', 'Timor', 'Togo', 'Tonga', 'Tunisia',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'United States Virgin Islands', 'Uruguay', 'Vanuatu',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

Noticed that the continents and the world is included as entity. Although Interesting does a disservice to the current dataset so they are removed

In [45]:
df = df.drop(df[df.Entity.isin(["Africa", "Europe", "World", "Asia", "North America", "South America"])].index)

,index,Entity,Year,Coal per capita (kWh),Fossil Fuels per capita (kWh),Energy per capita (kWh),Low-carbon energy per capita (kWh),Gas per capita (kWh),Nuclear per capita (kWh),Oil per capita (kWh),Renewables per capita (kWh),Wind per capita (kWh),Solar per capita (kWh),Hydro per capita (kWh),country_code
0,56,Algeria,1965,64.864,1884.320,1972.847,88.529,592.031,0.0,1227.425,0.088529,0.0,0.0,88.529,DZA
1,57,Algeria,1966,61.293,2230.772,2307.197,76.427,598.270,0.0,1571.209,0.076427,0.0,0.0,76.427,DZA
2,58,Algeria,1967,45.556,2036.536,2122.327,85.792,564.086,0.0,1426.894,0.085792,0.0,0.0,85.792,DZA
3,59,Algeria,1968,46.814,2099.027,2213.482,114.457,576.222,0.0,1475.991,0.114457,0.0,0.0,114.457,DZA
4,60,Algeria,1969,57.895,2309.229,2380.540,71.313,736.161,0.0,1515.173,0.071313,0.0,0.0,71.313,DZA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9468,9636,Zimbabwe,2015,NaN,NaN,3956.026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZWE
9469,9637,Zimbabwe,2016,NaN,NaN,3326.073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZWE
9470,9638,Zimbabwe,2017,NaN,NaN,3226.617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZWE
9471,9639,Zimbabwe,2018,NaN,NaN,3289.887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZWE
9472,9640,Zimbabwe,2019,NaN,NaN,3374.877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZWE

In [44]:
df.to_csv("../../web/data/pcc_energy_joined_country_codes.csv")

Seeing format for px.choropleth

In [46]:
import plotly.express as px

In [48]:
df = px.data.gapminder().query("year==2007")

In [49]:
df.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
11,Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
23,Albania,Europe,2007,76.423,3600523,5937.029526,ALB,8
35,Algeria,Africa,2007,72.301,33333216,6223.367465,DZA,12
47,Angola,Africa,2007,42.731,12420476,4797.231267,AGO,24
59,Argentina,Americas,2007,75.320,40301927,12779.379640,ARG,32